{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open AI</title>
</head>
<body style="background-color: rgb(12, 72, 136);text-align: center;">
    <img src="https://media.giphy.com/media/cfuL5gqFDreXxkWQ4o/giphy.gif" alt="">
    <H1 style="color: aliceblue; font-size: 80px;">Hello Saas love to work with you</H1>
</body>
</html>