{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="{% static '2.png' %}">
    <title>Icon Generator</title>
</head>
<style>
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #79a589;
        font-size: 40px;
    }
    b{
        color: #EAE7B1;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    body{
        background-color: #3C6255;
        text-align: center;
        margin: 50px;
    }
</style>
<body >
    
    <img src="https://media.giphy.com/media/USQldFTYp0CFd2wmrc/giphy.gif" style="border-radius:10% ; width: 50%;" alt="">
    <h1><b>Year </b>{{year}} <b>Month</b>  {{month}} <b>Day</b>  {{day}} <b>Hour</b>  {{hour}} <b>Minute</b> {{min}} <b>Second</b> {{second}} </h1>
    <H1 >"Creativity is seeing what others see and thinking what no one else ever thought." - Albert Einstein</H1>
</body>
</html>